:root {
    --portrait-width: 250px;
}

body {
    background-color: var(--grey-color);
}

#team-heading {
    color: white;
    padding-bottom: 0;
}

#team-heading h2 {
    font-size: 50px;
    text-align: center;
    margin: 0;
}

#team-heading p {
    font-weight: 400;
    text-align: center;
}

#team-profiles h2 {
    text-align: center;
}

.gallery-header {
    color: white;
    font-size: 40px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.card {
    max-width: 320px;
    margin: auto;
    text-align: left;
    padding: 20px;
    color: white;
    transition: all 2s;
}

.card .summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .portrait-frame {
    width: var(--portrait-width);
    height: var(--portrait-width);
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.card img {
    object-fit: cover;
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: var(--portrait-width);
}

.card .name {
    margin-top: 20px;
    margin-bottom: 5px;
}

.card .title {
    margin: 0px;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    color: var(--main-color);
}

.card .info {
    width: inherit;
    opacity: 0;
    max-height: 0;
    padding: 0px 20px;
    letter-spacing: 1px;
    transform: translateY(-50px);
    transition: all ease-in .3s;

}

.card .reveal-card {
    opacity: 1;
    max-height: 1000px;
    transform: translateY(0px);
    transition: all ease-in .3s;
}

.card .header {
    font-style: italic;
    font-size: 18px;
}

.card .content {
    font-weight: 400;
    font-size: 16px;
}