
<div class="section">
    <div id="footer-sponsors">
        <h2>Our Sponsors</h2>
        <p>
            To get involved as a sponsor, please email
            <a href="mailto:sponsorships@camsif.org?subject=CamSIF Sponsorship Interest">sponsorships@camsif.org</a>
        </p>
    </div>
    <li id="footer-icons">
        <a class="fa fa-linkedin" href="https://www.linkedin.com/company/camsif/"></a>
        <a class="fa fa-facebook" href="https://www.facebook.com/CamSIF/"></a>
        <a class="fa fa-instagram" href="https://www.instagram.com/cambridgesif/"></a>
    </li>
    <a href="../site/home.html">
        <img class="logo" src="../assets/Logo.png">
    </a>
</div>
<p id="copyright"> Copyright © 2023 Cambridge Student Investment Fund, All rights reserved.</p>    


