<!DOCTYPE html>
<html lang="en">
    <div class="section" id="footer-section">
        <div id="footer-container">
            <div id="footer-sponsors" class="footer-content">
                <h2>Our Sponsors</h2>
                <p>
                    To get involved as a sponsor, please email us at
                    <br><a href="mailto:sponsorships@camsif.org?subject=CamSIF Sponsorship Interest">sponsorships@camsif.org</a>
                </p>
            </div>
            <div id="footer-signup" class="footer-content">
                <h2>Join Us</h2>
                <p>
                    To hear about our events, please use the form above to
                    <br><a href="../site/home.html#signup">sign up for the mailing list</a>
                </p>
            </div>
            
            <div id="footer-logo" class="footer-content">
                <li id="footer-icons" class="footer-content">
                    <a class="fa fa-linkedin" href="https://www.linkedin.com/company/camsif/"></a>
                    <a class="fa fa-facebook" href="https://www.facebook.com/CamSIF/"></a>
                    <a class="fa fa-instagram" href="https://www.instagram.com/cambridgesif/"></a>
                </li>
                <a href="../site/home.html">
                    <img class="logo" src="../assets/Logo.png">
                </a>
            </div>
        </div>
        <p id="copyright"> Copyright © 2023 Cambridge Student Investment Fund, All rights reserved.</p>    

    </div>
</html>
