<!DOCTYPE html>
<html lang="en">
  <div id="navbar">
    <div id="nav-container">

        <div class="header">
          <a href="../site/home.html#">
            <img class="logo" src="../assets/Logo.png">
          </a>
          <div class="hamburger">
            <input type="checkbox" id="hamburger-checkbox" onclick="openMenu()">
            <label for="hamburger-checkbox">
              <div></div>
              <div></div>
              <div></div>
            </label>  
          </div>
          
        </div>
          <nav>
            <ul>
              <li><a class="nav-link" href="../site/sponsorship" onclick="menuClicked()">Sponsor</a></li>
              <li><a class="nav-link" href="../site/termcard" onclick="menuClicked()">Termcard</a></li>
              <li><a class="nav-link" href="../site/team" onclick="menuClicked()">Team</a></li>
              <li>
                <div class="join-button">
                  <a href="../site/home#signup" onclick="menuClicked()">Join</a>
                </div>
              </li>
            </ul>
          </nav>
        </div>
    </div>
  <div id="nav-spacer"></div>
</html>