<!-- Use this for making new pages! -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambridge Student Investment Fund</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/favicon.ico">
    <link rel="stylesheet" href="../styles/template.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
      $(function(){
        $("#nav").load("../templates/nav.html"); 
      });
      $(function(){
        $("#footer").load("../templates/footer.html"); 
      });
    </script>
    </head>
  <body>
    <div id="nav"></div>

    <a class="button" href="">
      <div id="template-button" >
          <h2>Button Template</h2>
      </div>
    </a>

    <div id="footer"></div>
  </body>
  <script src="../js/main.js"></script>
</html>