
@media screen and (max-width: 1100px) {

    #landing {
        background-position: center;
    }

    #landing h1 {
        font-size: 2em;
        white-space: wrap;
    }

    #landing h2 {
        font-size: 30px;
    }

    #about > h2 {
        font-size: 40px;
    }
    #about .join-button {
        width: max-content;
    }

    #stats-container {
        flex-direction: column;
        flex-wrap: nowrap;
        height: max-content;
    }
    
    .stat {
        font-size: 30px;
    }

    .stat i {
        padding-right: 20px;
        font-size: 50px;
    }

    #about-portfolio {
        position: relative;
    }

    #about-portfolio h3 {
        font-size: 30px;
    }
    
    #about-portfolio > h2 {
        font-size: 36px;
    }

    #svg-stonks {
        height: 120px;
        position: relative;
    }

    #svg-stonks path {
        stroke-dashoffset: 0;
    }

    .about-portfolio {
        height: auto;
        width: 100%;
    }

    .about-portfolio p {
        width: 100%;
        height: auto;
    }

    .about-portfolio .button {
        margin-top: 50px;
        width: 80%;
        height: auto;
        margin: 20px auto;
    }

    .about-portfolio .button h2 {
        font-size: 24px;
    }

    .about-portfolio p { order: 1 }
    .about-portfolio ul { order: 2 }
    .about-portfolio .button { order: 3 }

    .about-detail > h2 {
        font-size: 36px;
        margin: 30px 0;
        border-bottom: none;
    }

    .about-detail:nth-of-type(2) h2 {
        text-align: left;
    }

    .detail-text {
        width: 100%;
        margin-right: 0px;
        flex: 1 500px;
        order: 2;
    }

    .detail-text:nth-of-type(2) p {
        padding-left: 0px;
    }

    .detail-text ul {
        padding-left: 10px;
    }

    .detail-image {
       flex: 1 500px;
       height: 300px;
       order: 1
    }

    #signup {
        flex-direction: column;
        gap: 40px;
    }

    #signup .section-text h2 {
        font-size: 1.5em;
    }

    #signup form {
        width: 100%;
        margin-bottom: 30px;
    }

    #signup-entry {
        justify-content: center;
        gap: 50px;
    }

    .signup-input {
        width: 100%;
        font-size: 15px;
    }

    #signup-submit {
        width: 100%;
        font-size: 15px;
    }

    #signup .left {
        width: 100%;
        font-size: .8em;
    }

    #signup .right {
        width: 100%;
    }

    #signup-popup h2 {
        font-size: 25px;
        font-weight: 400;
    }
    
    #info {
        vertical-align: middle;
        display: flex;
        flex-direction: column;
        color: var(--main-color);
        gap: 10px;
        background-color: var(--grey-color);
    }

    #info .left h2 {
        font-weight: 500;
        font-size: 32px;
    }
    
    #info .right h2 {
        font-weight: 300;
        font-size: 23px;
        color: white;
    }
    
    #info .left {
        width: 100%;
    }
    
    #info .right {
        width: 100%;
        
    }
}


