#main {
    color: var(--dark-color);
    font-weight: 400;
}

#main h2 {
    font-family: var(--main-font);
    font-size: 3.8vw;

}

#main p {
    font-size: 36px;
}

#performance a {
    color: var(--main-color);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: var(--main-color);
    color: var(--light-color);
    padding: 16px;
    font-size: 16px;
    font-family: "Poppins";
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 24px;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    border-radius: 5px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

#graph-heading {
    text-align: center;
}

#performance-graph-container{
    height: 500px;
    width: 100%;
    position: relative;
    padding: 20px;
    border: 3px solid lightgray;
    border-radius: 10px;
}
/* 
#performance-graph {
    min-width: 100%;
    height: 100%
} */

#pnl-text {
    text-align: center;
}

#info div {
    padding: 10px 50px;
    margin: 50px 0px;
}

#info a {
    color: var(--main-color);
}

#info a:hover {
    text-decoration: underline;
}

#info div h2 {
    font-size: 40px;
}

#info div:nth-of-type(1) {
    background-color: var(--dark-color);
    color: var(--light-color);
}

#download-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.template-download-button {
    background-color: var(--main-color);
    padding: 30px 50px;
    margin: 20px 30px;
    border-radius: 25px;
    font-size: 36px;
    font-weight: 500;
    text-decoration: none;
    color: var(--light-color);
    white-space: nowrap;
}

.template-download-button i {
    padding-right: 30px;
}

@media screen and (max-width: 1100px) {
    #main h2 {
        font-size: 36px;
    }
    
    #main p {
        font-size: 20px;
    }

    #info div {
        padding: 10px 25px;
        margin-top: 50px;
    }

    .template-download-button {
        font-size: 24px;
        padding: 20px 40px;
    }
}