#main {
    color: white;
    font-weight: 400;
}

#main h2 {
    font-size: 3.8vw;
}

#main p {
    font-size: 36px;
}

#info div {
    padding: 10px 50px;
    margin: 50px 0px;
}

#info a {
    color: var(--main-color);
}

#info a:hover {
    text-decoration: underline;
}

#info div h2 {
    font-size: 40px;
}

#info div:nth-of-type(1) {
    background-color: var(--main-color);
    color: black;
}

#download-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.template-download-button {
    background-color: var(--main-color);
    padding: 30px 50px;
    margin: 20px 30px;
    border-radius: 25px;
    font-size: 36px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

.template-download-button i {
    padding-right: 30px;
}

@media screen and (max-width: 1100px) {
    #main h2 {
        font-size: 36px;
    }
    
    #main p {
        font-size: 20px;
    }

    #info div {
        padding: 10px 25px;
        margin-top: 50px;
    }

    .template-download-button {
        
        font-size: 24px;
        padding: 20px 40px;
    }
}