
@media screen and (max-width: 1100px) {
    :root {
        --hamburger-width: 30px;
        --page-margin: 50px;
    }

    #nav-container {
        flex-direction: column;
    }

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .header .hamburger {
        display: flex;
        align-items: center;
    }

    nav {
        display: none;
        margin: auto;
    }

    nav ul {
        grid-auto-flow: row;
        list-style-type: none;
        row-gap: 40px;
        column-gap: 0;
        justify-items: center;
    }

    nav a {
        font-size: 30px;
        font-weight: 500;
    }

    #join-button {

    }
    
    #hamburger-checkbox {
        display: none;
        width: calc(var(--hamburger-width)*2);
        height: calc(var(--hamburger-width)*2);
    }

    .hamburger label {
        width: var(--hamburger-width);
        height: var(--hamburger-width);
    }

    .hamburger label div {
        position: relative;
        top: 0;
        height: calc(var(--hamburger-width) / 5);
        background-color: var(--main-color);
        margin-bottom: calc(var(--hamburger-width) / 5);
        transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
        0.3s ease right;
        border-radius: 2px;
    }


    .hamburger label div:first-child {
        transform-origin: 0;
    }
  
    .hamburger label div:last-child {
        margin-bottom: 0;
        transform-origin: var(--hamburger-width);
    }
    
    .hamburger label div:nth-child(2) {
        right: 0;
        width: var(--hamburger-width);
    }
    
    #hamburger-checkbox:checked + label div:first-child {
        top: calc(var(--hamburger-width) / -10 );
        transform: rotateZ(45deg);
    }
    
    #hamburger-checkbox:checked + label div:last-child {
        top: calc(var(--hamburger-width) / 10 );
        transform: rotateZ(45deg);
    }
    
    #hamburger-checkbox:checked + label div:nth-child(2) {
        width: calc(var(--hamburger-width) * 1.414);
        top: 0;
        right: calc(var(--hamburger-width) * 13 / 60);
        transform: rotateZ(-45deg);
    }

    #landing {
        height: 75vh; 
        background-position: center;
    }

    #landing h1 {
        font-size: 40px;
        white-space: wrap;
    }

    #landing h2 {
        font-size: 30px;
    }

    #signup {
        flex-direction: column;
        gap: 40px;
    }

    #signup form {
        width: 100%;
        margin-bottom: 30px;
    }

    #signup-entry {
        justify-content: center;
        gap: 50px;
    }

    .signup-input {
        width: 100%;
        font-size: 15px;
    }

    #signup-submit {
        width: 100%;
        font-size: 15px;
    }

    #signup .left {
        width: 100%;
        font-size: 2em;
    }

    #signup .right {
        width: 100%;
    }

    #signup-popup h2 {
        font-size: 25px;
        font-weight: 400;
    }
    
    #info {
        vertical-align: middle;
        display: flex;
        flex-direction: column;
        color: var(--main-color);
        gap: 10px;
        background-color: var(--grey-color);
    }

    #info .left h2 {
        font-size: 2em;
    }
    
    #info .right h2 {
        font-weight: 300;
        font-size: 23px;
        color: white;
    }
    
    #info .left {
        width: 100%;
    }
    
    #info .right {
        width: 100%;
        
    }
}

@media screen and (min-width: 1101px) {
    nav {
        display: flex;
    }
}

