:root {
    --main-color: #ffdc58;
    --grey-color: #1c1d21;
    --page-margin: 150px;
}

html {
    overflow: auto;
    scroll-behavior: smooth;
    background-color: var(--grey-color);
}

body {
	margin: 0;
	background: white;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
    overflow: auto;
    animation: fadeInAnimation ease-out .7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
     }
}

.nav-container {
    left: 10px;
	width: 100%;
	margin: 0 auto;
    white-space: nowrap;
    display: flex;

    align-items: center;
    
    
}

#header {
    padding: 0px var(--page-margin);
    background: var(--grey-color);
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    color: var(--main-color);
    display: inline-block;
}
  
nav {
    display: inline-block;
    margin-left: auto;
    
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    position: relative;
    }

nav a {
    color: var(--main-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    
}

.nav-link::after {
    content: '';
    display: block;
    height: 3px;
    background-color: var(--main-color);

    position: absolute;
    top: 102%;
    width: 0%;

    transition: all ease-in-out 250ms;
}

.nav-link:hover::after {
    width: 100%;
}

nav #join-button {
    background-color: var(--main-color);
    transition: all ease-in-out 250ms;
}

nav #join-button:hover {
    border-radius: 20px;
}

nav #join-button a {
    color: var(--grey-color);
    display: block;
    padding: 15px 40px;
}

.section {
    padding: 50px var(--page-margin)
}

.section-text h2 {
    font-weight: 500;
    font-size: 35px;
}

#landing {
    height: 70vh; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
        url(../assets/auditorium.png); 
    background-repeat: no-repeat;
    background-size: cover;
    
    white-space: nowrap;
}

#landing h1 {
    font-weight: 500;
    font-size: 50px;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

#landing h2 {
    font-weight: 400;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

#signup {
    vertical-align: middle;
    display: flex;
    background-color: white;
}

#signup .left {
    width: 40%;
}

#signup .right {
    width: 60%;
}

#signup-entry {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
}

#signup-input {
    border: 1px solid lightgrey;
    font-family: 'Poppins', sans-serif;
    padding: 22px 30px;
    margin: 10px;
    margin-bottom: 20px;
    width: 220px;
}

#signup-submit {
    border: none;
    background-color: var(--grey-color);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 20px 30px;
    width: 280px;
    cursor: pointer;
}

#signup-input:focus {
    outline-width: 0;
}

#info {
    vertical-align: middle;
    display: flex;
    gap: 50px;
    color: white;
    background-color: var(--grey-color);
}

#info .right h2 {
    font-weight: 300;
    font-size: 30px;
}

#info .left {
    width: 55%;
}

#info .right {
    width: 45%;
    
}
  