
#termcard-landing {
    height: 50vh;
    background-image: url(../assets/talking1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-text > h2 {
    font-size: 50px;
}

.button {
    margin-top: 50px;
}

.button-div h2 {
    color: var(--light-color);
    font-size: 1.5em;
}

.button-div i {
    margin-right: 10px;
}

 .button:hover {
    border-radius: 20px;
    transition: ease-in-out .2s;
}

